/**
*
* Home page
*
**/

.page--home {
  background: $colorBlueGrey900;
  .button_nav, .button_close {
    .fa { margin-right: 0.5rem; }
  }
  .home_sidenav {
    background: $colorBlueGrey800;
    md-content { background: transparent; }
    .button_close {
      background: $colorBlueGrey900;
      border-bottom: 1px solid $colorBlueGrey700;
    }
    nav .md-button {
      transition: background 0.35s ease;
      display: block;
      text-align: left;
      text-decoration: none;
      color: $colorBlueGrey50;
      font-size: 1.25rem;
      line-height: 150%;
      padding: 0.5rem 2rem;
      margin-top: 0.5rem;
      .fa { margin-right: 0.75rem; }
      &:hover {
        background: darken($colorBlueGrey800, 20%);
      }
    }
  }
  .home_mainContent {
    color: $colorBlue50;
  }
  .home_hero {
    padding: 0;
    margin: 0;
    background: $colorBlueGrey900;
    .hero_intro {
      position: relative;
      z-index: 2;
      border-bottom: 1px solid $colorBlue600;
      overflow: hidden;
      .logoWrap {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-size: 16px;
        .logoOutline {
          background: rgba(255,255,255, 0.46);
          border: 1px solid rgba(255,255,255,0.9);
          border-radius: 50%;
        }
        img {
          max-height: 8em;
          max-width: 8em;
        }
        .logotype {
          font-family: 'Parisienne', "Roboto", Helvetica, sans-serif;
          font-size: 6em;
          line-height: 80%;
        }
        .tagline {
          font-family: "Roboto", Helvetica, sans-serif;
          font-size: 1.25em;
        }
      }
    }
    .hero_newsletter {
      padding: 1rem;
      display: block;
      z-index: 1;
      background: $colorBlue800;
    }
  }
}

// TODO : Make this a consistent media query.
@media (max-width: 500px) {
  .page--home {
    .home_hero {
      .hero_intro {
        .logoWrap {
          font-size: 11px;
        }
      }
    }
  }
}
