<!doctype html>
<html lang="en" ng-app="functionalApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An organization hosting culture-rich events, lively discussion, and local camaraderie while connecting with the passionate individuals pursuing their craft.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Functional | Tailored Kansas City Experiences</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#ebeef0">

	  <!-- Page styles -->
    <link rel="stylesheet" href="public/lib/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="public/lib/fontawesome/css/font-awesome.min.css"/>
	  <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="page--home" layout="column" ng-controller="AppCtrl">
    <!-- Add your site or app content here -->
    <div ng-controller="AppCtrl" layout="column" layout-fill>
      <div layout="row" flex>
        <md-sidenav layout="column"
                    class="md-sidenav-left md-whiteframe-z2 home_sidenav"
                    md-component-id="left"
                    md-is-locked-open="$media('gt-md')">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <nav>
            <md-button href="#"><i class="fa fa-home"></i>Intro</md-button>
            <md-button href="#"><i class="fa fa-newspaper-o"></i>Newsletter</md-button>
            <md-button href="#"><i class="fa fa-calendar"></i>Upcoming Events</md-button>
            <md-button href="#"><i class="fa fa-archive"></i>Past Events</md-button>
            <md-button href="#"><i class="fa fa-info-circle"></i>About Functional</md-button>
            <md-button href="#"><i class="fa fa-comment"></i>Contact Us</md-button>
          </nav>
        </md-sidenav>
        <div layout="column" flex>
          <md-content layout="column" flex class="home_mainContent">
            <button ng-click="toggleSidenav('left')" hide-gt-md class="menuBtn">
              <span class="visuallyhidden">Menu</span>
            </button>
            <div layout="column" class="home_hero">
              <md-content class="hero_intro md-whiteframe-z1">
                <img src="images/headerMain.jpg" alt=""/>
                <div class="logoWrap" layout-fill layout="column" layout-align="center center">
                  <div class="logoOutline md-whiteframe-z1">
                    <img class="md-whiteframe-z2" src="images/logo_functional_is_trans.png" alt=""/>
                  </div>
                  <span class="logotype">Functional</span>
                  <span class="tagline">Tailored Kansas City Experiences</span>
                </div>
              </md-content>
              <md-content class="md-padding hero_newsletter md-whiteframe-z1 ">
                This will eventually be a wonderful newsletter signup.
              </md-content>
            </div>
          </md-content>
        </div>
      </div>
    </div>

    <!-- build:js scripts/main.min.js -->
    <script src="public/lib/hammerjs/hammer.min.js"></script>
    <script src="public/lib/angular/angular.min.js"></script>
    <script src="public/lib/angular-animate/angular-animate.min.js"></script>
    <script src="public/lib/angular-aria/angular-aria.min.js"></script>
    <script src="public/lib/angular-material/angular-material.min.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36506610-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
